.big-search {
    input {
        font-size: 1.2em;
        width: 20em;
        padding: 8px;
        border-radius: 4px;
        margin-right: 4px;
        border: none;
        outline: none;
    }
    .submit-search {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: blue;
    }
  }